# Google Credentials (Sangat Rahasia)
**/credentials.json
backend/config/credentials.json

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints

# Environment Variables
.env

# Virtual Environments
venv/
.venv/
env/

# IDE / Editor Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp